/* custom-tree.css */

.rd3t-svg {
  margin-left: 10px;
}

.rd3t-g {
  margin-left: 10px;
  transform: translate(70px, 50%) scale(1);
}

.rd3t-node > circle {
  fill: lightblue;
  r: 7;
}

.rd3t-leaf-node > circle {
  r: 5;
}
